<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target xsi:type="WebService"
            name="NLogCentral"
            url="http://localhost:56676/log"
            protocol="HttpPost">
      
      <parameter name="message" type="System.String" layout="${message}"/>
      <parameter name="logger" type="System.String" layout="${logger}"/>
      <parameter name="level" type="System.String" layout="${level}"/>
      <parameter name="machinename" type="System.String" layout="${machinename}"/>
      <parameter name="stacktrace" type="System.String" layout="${stacktrace}"/>
      <parameter name="processname" type="System.String" layout="${processname}"/>
    </target>
    <target xsi:type="Console" name="console" />
  </targets>

  <rules>
    <logger name="*" minLevel="Trace" writeTo="console,NLogCentral" />
  </rules>
  
</nlog>
